body {
    font-family: 'Lato';
}
.fa-btn {
    margin-right: 6px;
}
.container {
    text-align: center;
}
.title {
    font-size: 96px;
}
.menu {
    font-size: 30px;
    margin: 10px;
}

.pd_10px {
    padding: 10px;
}
